.two-dimensional-video {
    &__main {
        background: rgb(246, 246, 246);
    }

    &__control-panel {
        min-width: 300px;
        max-width: 300px;
        background: #ffce3a12;
        border-radius: 10px;
        box-shadow: 1px 8px 9px 0px #909090ba;
    }
}

.custom-card {
    background: #ffce3a12;
    border-radius: 10px;
    box-shadow: 1px 8px 9px 0px #909090ba;
}

.alert {
    border-radius: 0 !important;
    text-align: center;
    color: #FFF;
    background-color: #03a9f4ba;
    border-color: #03a9f4ba;
    position: fixed;
    width: 100%;
    transition: 400ms;
}

.btn {
    border-radius: 0;
    box-shadow: 0 !important;
}


.btn:focus,
.btn:hover,
.btn:active {
    box-shadow: none !important;
}

.two-dimensional-video__main {
    height: 100vh;
}

.save-wrap {
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
}

.btn-shape {
    outline: solid 1px gray;
    border: solid 2px transparent;
    background: #FFF;
}

.btn-line-property {
    background: #FFF;
}

.btn-shape:hover,
.btn-shape:focus,
.btn-shape:active,
.btn-shape.selected {
    outline-color: #000;
    border-color: #000;
}

.sketch-picker {
    box-shadow: none !important;
    padding: 0 !important;
}

.form-control {
    border-radius: 0;
}

.form-control:focus,
.form-control:active {
    box-shadow: none;
}

.btn-black {
    border: solid 1px #000;
    background: #FFF;
}

.btn-black:hover {
    opacity: .7;
}