.two-dimensional-video .annotation-item {
	cursor: pointer;
	margin-bottom: 5px;
	border-width: 0;
	border-left-width: 8px;

    &--highlight {
        cursor: default;
    }

    &__parent-button {
        cursor: pointer;
    }

    &__control-button {
        margin-right: 5px;
    }

    &__delete-button {
        padding: 0.375rem 0.3rem;
        color: #dc3545;
        font-size: 30px;

        &:hover {
            color: #c82333;
        }
    }
}

/* incident list */
.incident-list-toggle-button {
	background: #f6f6f6;
	width: 100%;
	cursor: pointer;
	color: #212529;

	&:hover,
	&:focus {
		text-decoration: none;
		color: #000;
	}
}

.annotation-nav-wrap {
    max-width: 200px;
}
