.annotation-item {
    cursor: pointer;
    border-top-width: 1px !important;
}

.annotation-item:hover,
.annotation-item:focus,
.annotation-item:active,
.annotation-item.selected {
    border-color: black;
}

/* incident list */
.incident-list-toggle-button {
	background: #f6f6f6;
	width: 100%;
	cursor: pointer;
	color: #212529;

	&:hover,
	&:focus {
		text-decoration: none;
		color: #000;
	}
}

.annotation-nav-wrap {
    max-width: 200px;
}
